{% load static %}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5">Añadir producto</h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <p class="text-center mt-3">{{ object.nombre_producto }}</p>
    <p class="text-center mt-1">
      <img
        src="{% if object.imagen %}{{ object.imagen.url }}{% else %}{% static 'img/producto.jpg' %}{% endif %}"
        alt="{{ object.descripcion_producto }}"
        width="200"
        class="imgPlus"
      />
    </p>
    <p class="text-center mb-0">{{ object.descripcion_producto }}</p>
    <form
      action="{% url 'añadir_compra' object.id_producto %}"
      method="post"
      enctype="multipart/form-data"
      id="myFormCompra"
    >
      <div class="modal-body">
        {% csrf_token %}

        <p>
          <span>{{ form.stock_increment.label_tag }}</span>
          <span>{{ form.stock_increment }}</span>
        </p>

        <div class="d-flex gap-2">
          <p class="w-50">
            <span>{{ form.precio_bruto_producto.label_tag }}</span>
            <span>{{ form.precio_bruto_producto }}</span>
          </p>
          <p class="w-50">
            <span>{{ form.precio_bruto_old.label_tag }}</span>
            <span>{{ form.precio_bruto_old }}</span>
          </p>
        </div>

        <div class="d-flex gap-2">
          <p class="w-50">
            <span>{{ form.margen_ganancia.label_tag }}</span>
            <span>{{ form.margen_ganancia }}</span>
          </p>
          <p class="w-50">
            <span>{{ form.precio_venta.label_tag }}</span>
            <span>{{ form.precio_venta }}</span>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          value="Añadir Producto"
          class="btn btn-success"
          id="btnModalCompra"
        >
          Añadir
        </button>
        {% if error_message %}
        <div class="alert-login">{{ error_message }}</div>
        {% endif %}
      </div>
    </form>
  </div>
</div>
