<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5">Editar Producto</h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <form
      action="{% url 'editar_producto' object.id_producto %}"
      method="post"
      enctype="multipart/form-data"
      id="myFormEdit"
    >
      <div class="modal-body">
        {% csrf_token %}
        <p>
          <span>{{ form.nombre_producto.label_tag }}</span>
          <span>{{ form.nombre_producto }}</span>
        </p>

        <p>
          <span>{{ form.precio_producto.label_tag }}</span>
          <span>{{ form.precio_producto }}</span>
        </p>

        <p>
          <span>{{ form.stock.label_tag }}</span>
          <span>{{ form.stock }}</span>
        </p>

        <div class="mb-3 overflow-hidden">
          <span>{{ form.imagen.label_tag }}</span>
          {% if form.instance.imagen %}
          <div class="w-100">
            <img
              src="{{ form.instance.imagen.url }}"
              alt="{{ form.instance.nombre_producto }}"
              class="img-fluid mx-auto d-block mb-2 imgEdit"
            />
          </div>
          {% endif %}
          <input
            type="file"
            name="imagen"
            class="form-control"
            accept="image/*"
            id="id_imagen"
          />
        </div>
        <div class="mb-3 d-flex gap-2">
          <span>{{ form.marca_FK.label_tag }}</span>
          {{ form.marca_FK }}
          <span class="ms-3">{{ form.categoria_FK.label_tag }}</span>
          {{ form.categoria_FK }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" value="Editar Producto" class="btn btn-success">
          Guardar
        </button>
        {% if error_message %}
        <div class="alert-login">{{ error_message }}</div>
        {% endif %}
      </div>
    </form>
  </div>
</div>
