<div class="mt-3 mt-lg-0 d-flex gap-4">
  <form class="input-group buscador" method="GET">
    <input
      type="date"
      class="form-control"
      name="buscarFecha1"
    />

    <input
      type="date"
      class="form-control"
      name="buscarFecha2"
    />

    <!-- <div class="form-group">
      <select class="form-control" name="periodoInforme">
        <option value="dia" {% if request.GET.periodo == 'dia' %}selected{% endif %}>Diario</option>
        <option value="semana" {% if request.GET.periodo == 'semana' %}selected{% endif %}>Semanal</option>
        <option value="mes" {% if request.GET.periodo == 'mes' %}selected{% endif %}>Mensual</option>
      </select>
    </div> -->
    
    <button type="submit" class="btn btn-primary">
      Mostrar
    </button>

  </form>
</div>
 