<script>
  function calcular_precio(precio_bruto, precio_venta) {
    precio_bruto = parseFloat(precio_bruto.value.trim());
    precio_venta = parseFloat(precio_venta.value.trim());

    const margen = ((precio_venta - precio_bruto) / precio_bruto) * 100;

    if (!isNaN(margen) && precio_bruto !== "" && precio_venta !== "") {
      document.getElementById("margen").value = margen.toFixed(2);
    }
  }

  let precio_bruto = document.getElementById("precio_bruto");
  let precio_venta = document.getElementById("precio_venta");

  calcular_precio(precio_bruto, precio_venta);

  precio_bruto.addEventListener("input", function () {
    calcular_precio(precio_bruto, precio_venta);
  });
  precio_venta.addEventListener("input", function () {
    calcular_precio(precio_bruto, precio_venta);
  });
</script>
