{% load static %}
<a
  class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white"
  href="{% url 'Home' %}"
  >CodeTech</a
>
<div class="d-flex justify-content-between" style="width: calc(100% - 195px)">
  <div class="profile-content ms-4 d-flex gap-2">
    <button
      type="button"
      class="btn btn-outline-warning d-flex"
      data-bs-toggle="modal"
      data-bs-target="#carritoModal"
      style="height: 30px"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-cart-plus"
        viewBox="0 0 16 16"
      >
        <path
          d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"
        />
        <path
          d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
        />
      </svg>
    </button>

    {% if request.productos_con_stock_bajo %}
    <button
      class="btn btn-outline-info d-flex notificacion"
      onclick="tabla_poco_stock('{% url 'tabla_stock'  %}')"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chat-left-dots-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
        />
      </svg>
    </button>
    {% endif %}
  </div>

  <div class="d-flex gap-2 me-4">
    <div class="profile-content">
      {{ request.user.cargo_FK }}
      <span class="nombre-user"
        >: {{ request.user.first_name }} {{request.user.last_name }}</span
      >
    </div>
    <a href="{% url 'Perfil' %}">
      <img
        src="{% static 'img/profile.webp' %}"
        alt="profileImg"
        class="rounded-circle icon"
      />
    </a>
  </div>
</div>

<ul class="navbar-nav flex-row d-md-none">
  <li class="nav-item text-nowrap">
    <button
      class="nav-link px-3 text-white"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg class="bi"><use xlink:href="#list" /></svg>
    </button>
  </li>
</ul>
