{% extends "base.html" %} {% load static %} 

{% block head %}

<h1 class="h2">Compras</h1>

{% endblock %} 

{% block content %}

<form
  action="{% url 'Compras' %}"
  method="post"
  enctype="multipart/form-data"
  id="formDatosCompra"
>
  {% csrf_token %}
  <div class="d-flex gap-4 flex-wrap">
    <p class="formCompras">
      <span>{{ form.num_documento.label_tag }}</span>
      <span>{{ form.num_documento }}</span>
    </p>
    <p class="formCompras">
      <span>{{ form.fecha.label_tag }}</span>
      <input
        type="date"
        name="{{ form.fecha.name }}"
        value="{{ form.fecha.value|date:'Y-m-d' }}"
        class="form-control"
        id="fecha"
      />
    </p>
    <p class="formCompras">
      <span>{{ form.total.label_tag }}</span>
      <span>{{ form.total }}</span>
    </p>
    <p class="formCompras">
      <span>{{ form.tipo_documento.label_tag }}</span>
      <span>{{ form.tipo_documento }}</span>
    </p>
  </div>

  <div class="d-flex gap-4">
    <p class="formCompras">
      <span>{{ form.tipo_impuesto.label_tag }}</span>
      <span>{{ form.tipo_impuesto }}</span>
    </p>
    <p style="flex: 2">
      <span>{{ form.proveedor_FK.label_tag }}</span>
      <span>{{ form.proveedor_FK }}</span>
    </p>
  </div>

  {% if error_message %}
  <div class="alert-login">{{ error_message }}</div>
  {% endif %}
</form>

<div class="mt-3">
  <p class="mb-3 h4">Ingresar Producto por Código</p>
  {% include 'include/buscador.html' %}
</div>

<div class="d-flex gap-4 tablaCompra">
  <div class="overflow-auto conTabla">
    <table class="table table-striped table-hover mt-4" style="min-width: auto">
      <thead>
        <tr>
          <th>Código</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Precio Bruto</th>
          <th>Importe</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <form class="mt-4">
    <p>
      <label>Subtotal</label>
      <input
        type="number"
        name="subtotal"
        class="form-control"
        readonly="readonly"
      />
    </p>
    <p>
      <label>Impuesto (19%)</label>
      <input
        type="number"
        name="impuestos"
        class="form-control"
        readonly="readonly"
      />
    </p>
    <p>
      <label>Total</label>
      <input
        type="number"
        name="total"
        class="form-control"
        readonly="readonly"
      />
    </p>
  </form>
</div>

<button class="btn btn-danger me-3" id="btnLimpiar">Limpiar Datos</button>
<button class="btn btn-primary" id="btnSumit">Guardar</button>

<div
  class="modal fade"
  id="ComprasModal"
  tabindex="-1"
  aria-hidden="true"
></div>

{% endblock %} 

{% block script %}

<!---- TERMINAR DE REVISAR ----  -->
<!-- comienzo de script -->
{% if object_list %}
  {% for producto in object_list %}

{% include 'include/comprasScript.html' %} 

  {% endfor %} 
{% endif %}

<script defer src="{% static 'js/compras.js' %}"></script>

<!-- LIMPIA LOCALSTORAGE -->
<script>
  {% for message in messages %}
      {% if "success-alert" in message.tags %}
        localStorage.removeItem("productoDataList");
        localStorage.removeItem("storedData");
      {% endif %}
  {% endfor %}
</script>

<!-- termino de script  -->
<!-- -------------------------  -->

<script defer src="{% static 'js/autoFocus.js' %}"></script>
{% endblock %}
