{% extends "base.html" %} {% block head %}
<h1 class="h2">Informes</h1>
<form method="GET" class="d-flex gap-2 align-items-center">
  <div class="form-group">
    <select class="form-control" name="periodoInforme">
      <option value="diario" {% if request.GET.periodo == 'diario' %}selected{% endif %}>Diario</option>
      <option value="semanal" {% if request.GET.periodo == 'semanal' %}selected{% endif %}>Semanal</option>
      <option value="mesual" {% if request.GET.periodo == 'mesual' %}selected{% endif %}>Mensual</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">
    Mostrar
  </button>
</form>
<div class="btn-toolbar mb-2 mb-md-0">
  <span>{% include 'include/buscadorRangoFecha.html' %}</span>
</div>
{% endblock %} {% block content %}
<!-- que sea por rango y pueda escojer si los ve por mes o por semana o diarios -->
<div></div>
{% endblock %}
