{% extends "base.html" %} {% load static %}

{% block head %}

<h1 class="h2">Informe de Facturas</h1>

{% include 'include/buscador.html' %}

<div class="btn-toolbar mb-2 mb-md-0">
  {% include 'include/buscadorFecha.html' %}
</div>

{% endblock %}

{% block content %}

<div class="overflow-auto" style="max-height: 70vh">
  {% if object_list %}
  <table
    class="table table-striped table-hover mt-4"
    id="tabla-facturas"
    style="min-width: 30rem"
  >
    <thead>
      <tr>
        <th>Total</th>
        <th>Vendedor</th>
        <th>Fecha de emisión</th>
      </tr>
    </thead>
    <tbody>
      {% for factura in object_list %}
      <tr>
        <td>{{ factura.total_factura }}</td>
        <td>{{ factura.venta_FK.usuario_FK }}</td>
        <td>{{ factura.venta_FK.fecha_emision.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<button class="btn btn-primary mt-3" id="generate-pdf-button">Generar PDF</button>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const btnPdf = document.getElementById("generate-pdf-button");

    btnPdf.addEventListener("click", (e) => {
      const tabla = document.getElementById("tabla-facturas");
      const { jsPDF } = window.jspdf;
      const doc = new jsPDF();

      const tableTitle = "Informe de Facturas";

      doc.text(tableTitle, 75, 20);

      let startY = 30;
      doc.autoTable({ html: tabla, startY });

      doc.output("dataurlnewwindow");
    });
  });
</script>

{% else %}

<strong>NO HAY REGISTROS</strong>

{% endif %} 

{% endblock %} 

{% block script %}

<script defer src="{% static 'js/autoFocus.js' %}"></script>

{% endblock %}
