{% extends "base.html" %} {% load static %}

{% block head %}

<h1 class="h2">Informes</h1>

<div class="btn-toolbar mb-2 mb-md-0">
  <span>{% include 'include/buscadorRangoFecha.html' %}</span>
</div>

{% endblock %} 

{% block content %} 

{% if object_list %}

<div class="overflow-auto" style="max-height: 70vh">
  <table 
    class="table table-striped table-sm mt-3" 
    id="tabla-informe-ventas"
    style="min-width: 20rem;"
  >
    <thead>    
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
  {% for fecha, total in object_list.items %}
      <tr>
        <td>{{ fecha }}</td>
        <td>{{ total }}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>  
</div>

<button class="btn btn-primary mt-3" id="generate-pdf-button">Generar PDF</button>

<button class="btn btn-success mt-3" onclick="exportTableToExcel('tabla-informe-ventas', 'infoVentas.xls')">Exportar a Excel</button>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const btnPdf = document.getElementById("generate-pdf-button");

    btnPdf.addEventListener("click", (e) => {
      const tabla = document.getElementById("tabla-informe-ventas");
      const { jsPDF } = window.jspdf;
      const doc = new jsPDF();

      const tableTitle = "Informe de Ventas";

      doc.text(tableTitle, 75, 20);

      let startY = 30;
      doc.autoTable({ html: tabla, startY });

      doc.output("dataurlnewwindow");
    });
  });
</script>

{% else %}

<strong>NO HAY REGISTROS</strong>

{% endif %}


{% endblock %}


{% block script %}

<script defer src="{% static 'js/execl.js' %}"></script>

{% endblock %}
